{% extends 'base.html' %}

{% block content %}

    Hello world!
    <br /><br />

    <form action="blah" method="POST">
        {% csrf_token %}
        <input type="text" name="beername">
        <input type="submit" value="Submit" />
    </form>
    <br />

    Temperature:
    <span id='raw-temperature'>
        {% include 'tempcontrol/get_temperature.html' %}
    </span>


    <script type="text/javascript">
        
        function load_temperature() {
            $("#raw-temperature").load("{% url 'tempcontrol.views.get_temperature' %}");
        }
        
        var refresh_interval = window.setInterval(load_temperature, 2000);

    </script>

{% endblock %}
